.App {
  width: 390px; 
  /* Cambia esta medida para ajustar el tamaño del cuadrado */
  height: 490px; 
  /* Cambia esta medida para ajustar el tamaño del cuadrado */
  margin-left: 600px;
  background-color: black;
  /* Reemplaza 'ruta_de_la_imagen.jpg' con la ruta de tu imagen */
  border-radius: 66px;
 
}




.Widgettweet {

  margin-left: -50px; 
  display: flex; 
  /* Utiliza flexbox para alinear los elementos horizontalmente */
  
  align-items: center; 
  flex-direction: column;
  

}

.Createtweet {
  margin-top: -100px; 
}

.logo {
  width: 140px; 
  height: 140px; 
  background-image: url('./assets/twitter-x-logo.png');
  background-size: cover;
  background-position: top left;
}

.logo-content {

  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px; 
  border-radius: 10px;
  margin-left: 100px;
  margin-bottom: 200px;
  height: 80vh;
}







